@charset "UTF-8";
/* CSS Document */
@media (max-width:2500px){
	.galery a {
    height: 391px;
}
}
@media (max-width:2000px){
	.galery a {
    height: 347px;
}
	.bg-carousel-reviews{
	height: 500px;
}
}
@media (max-width:1800px){
	.galery a {
    height: 326px;
}
}
@media (max-width:1650px){
	.galery a {
    height: 288px;
}
}
@media (max-width:1480px){
	.galery a {
	width: 25%;
    margin: 0;
    max-height: 263px;
    height: auto;
}
	.galery a img {
    height: 100%;
    object-fit: cover;
}
}
@media (max-width:1199px){
	.owl-carousel-reviews {
    padding: 85px 40px;
}
	.block2 {
    padding-bottom: 60px;
}
}
@media (max-width:991px){
	.owl-carousel-reviews {
    padding: 85px 40px;
    width: 100%;
}
	.bg-carousel-reviews{
		display: none;
	}
	
	.box-team{
		margin-bottom: 40px;
	}
	.galery a {
    width: 50%;
	}
	.baner {
    	padding-top: 203px;
		padding-bottom: 110px;
	}
	.baner-text h1 {
		font-size: 50px;
		line-height: 52px;
		margin-bottom: 30px;
	}
	.box-text-baner {
    	margin-bottom: 30px;
	}
}
@media (max-width:767px){
	
	.box-team {
    max-width: 316px;
    margin: 0 auto;
    margin-bottom: 40px;
}
	.team {
    padding: 60px 0;
}
	.box-servise {	
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
	}
	.logo{
		display: block;
		margin-bottom: 20px;
	}
	.logo img{
		display: block;
		margin: 0 auto;
	}
	.header {
    	padding-top: 25px;
	}
	.baner {
    	top: -146px;
	}
	.nav-menu ul.menu {
    	justify-content: center;
	}
	.baner-text h1 {
		font-size: 30px;
		line-height: 32px;
	}
	.box-text-baner {
		margin-bottom: 30px;
		font-size: 16px;
	}	
}
@media (max-width:600px){
	.galery a {
    width: 70%;
    margin: 0 auto;
		margin-bottom: 20px;
}
	.galery a img {
    height: auto;
    object-fit: inherit;
    width: auto;
    margin: 0 auto;
    display: block;
}
	.galery a:nth-child(1), .galery a:nth-child(5) {
    margin-left: auto;
}
	.galery a:nth-child(4), .galery a:nth-child(8) {
    margin-right: auto;
}
}
@media (max-width:500px){
	
}
@media (max-width:470px){
	.nav-menu ul.menu li a {
		font-size: 11px;
		padding-left: 9px;
	}
	.separator {
    	padding-bottom: 11px;
	}
	.baner {
		padding-top: 174px;
		padding-bottom: 58px;
	}
	.baner-text h1 {
		font-size: 24px;
		line-height: 27px;
		margin-bottom: 17px;
	}

}